/* Bootstrap related styles */
.jumbotron{
    /* Image by Lorri Lang from Pixabay  */
    /* background-image:url("../img/guitar-background-jumbotron.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    padding:20%;
    color:#ddd;
    text-shadow: 1px 1px 2px black; 
}

/* Custom styles */
.product{
    height:400px;
    width:200px;
    border: 1px solid #ddd;
    margin:1%;
}

.product img{
    padding:5%;
    height:200px;
}

.description{
    font-family:Helvetica;

}
/* keyframes and animations */
.background-animation{
    animation-name:background-fade;
    animation-duration:5s;
    animation-timing-function:ease;
    animation-direction:forwards;
    animation-iteration-count: infinite;

}
@keyframes background-fade{
    0%{
        opacity:0.25;
    }
    25%{
        opacity:0.75;
    }
    100%{
        opacity:0.75;
    }
}

/* Image by Ryan McGuire from Pixabay  */
/* Image by William Iven from Pixabay  */
/* Image by Free-Photos from Pixabay  */